{% extends 'base.html.twig' %}

{% block title %}Add Skill{% endblock %}

{% block body %}
    <h1>Add new Skill</h1>
    {{ form_start(form) }}
    {{ form_row(form.skills) }}

    <button type="submit" class="btn btn-primary">Add Skill</button>
    {{ form_end(form) }}
{% endblock %}