{% extends 'base.html.twig' %}

{% block title %}List of Collaborator{% endblock %}

{% block body %}
    {% set i = 1 %}
<h1>Collab list</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Status</th>
            <th scope="col">Profile</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <th scope="row"> {{ i }}</th>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{% if user.status %}Available{% else %}Not available{% endif %}</td>
            <td><a href="{{ path('app_collab_profile', {id: user.id}) }}">Check profile</a></td>
        </tr>
            {% set i = i+1 %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}